@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F7F3F3;
}

.TipsDiv img{
    height: 14em;
    border-radius: 2px;
}


.footerDiv li{
    margin-right: 0 !important;
}