@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F7F3F3;
}

.TipsDiv img{
    height: 11em;
    border-radius: 2px;
}


.footerDiv li{
    margin-right: 0 !important;
}

.ReviewAnimation{
    animation: Review 5s ease;
    outline: none;
}

.react-datepicker__input-container input {
    padding: 5px;
    border-radius: 8px;
 }
@keyframes Review {
    0%{
        opacity: 0;
 
    }
    50%{
        opacity: 1;

    }
    100%{
        opacity: 0;
    }

}